
bin/
obj/
out/
Debug/
Release/
[Bb]uild/

.vs/
.vscode/
*.vsix
*.suo
*.user
*.userosscache
*.sln.docstates
*.dbmdl
*.sqlite

*.cache
*.assets.cache
*.inputs.cache
*.reference.cache

*.log

*.editorconfig
*.launchSettings.json

.idea/
*.iml

*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json

*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db

publish/
*.Publish.xml

AssemblyInfo.cs
GlobalUsings.g.cs

TestResults/
*.coverage
*.coveragexml
